[submodule "kral"]
	path = kral
	url = git://github.com/lrvick/kral.git
[submodule "filr"]
	path = filr
	url = git://github.com/lrvick/filr.git
[submodule "ewrl"]
	path = ewrl
	url = git://github.com/lrvick/ewrl.git
[submodule "synt"]
	path = synt
	url = git://github.com/lrvick/synt.git
[submodule "sher"]
	path = sher
	url = git://github.com/tsoporan/sher.git
[submodule "static/js/CuteTime"]
	path = static/js/CuteTime
	url = git://github.com/theproductguy/CuteTime.git
