[submodule "kral"]
	path = apps/kral
	url = git://github.com/lrvick/kral.git
[submodule "filr"]
	path = apps/filr
	url = git://github.com/lrvick/filr.git
[submodule "ewrl"]
	path = apps/ewrl
	url = git://github.com/lrvick/ewrl.git
[submodule "synt"]
	path = apps/synt
	url = git://github.com/lrvick/synt.git
[submodule "sher"]
	path = apps/sher
	url = git://github.com/tsoporan/sher.git
[submodule "docs"]
	path = docs
	url = git://github.com/lrvick/tawlk.wiki.git
[submodule "static/js/CuteTime"]
	path = static/js/CuteTime
	url = git://github.com/theproductguy/CuteTime.git
