* {
  font-family:'Geo', sans-serif;
  font-weight:100;
  margin:0;
  padding:0;
}
body{
  background:#333;
}
a {
  color:#FFF;
  font-weight:400;
  text-decoration:none;
}
header {
  display:block;
  height:100%;
  width:100%;
  margin:0px auto;
  background:#111;
  font-size:3em;
}
header form input {
    background:#333;
    border:1px black solid;
    position:absolute;
    top:6px;
    left:230px;
    width:200px;
    height:35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius:5px;
    text-indent:15px;
    font-size:20px;
}
nav {
    display:block;
    position:absolute;
    right:10px;
    top:0px;
}
nav a {
    margin-left:15px;
    height:35px;
    line-height:35px;
    display:block;
    float:left;
    background:#222;
    font-size:20px;
    padding-left:10px;
    padding-right:10px;
    margin-top:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius:5px;
    color:#777;
    border:1px #111 solid;
}
nav a:hover {
    border:1px #333 solid;
}
h1,h1 span {
  margin-left:10px;
  font-size:48px;
  line-height:55px;
}
h1 a {
  color:#AAA;
  font-weight:700;
}
@-moz-document url-prefix() {
    h1 a {
        letter-spacing:-5px;
    }
}
ul {
   list-style-type:none;
   display:block;
   overflow-y:scroll;
   overflow-x:hidden;
   margin:10px;
}
li {
    display:block;
    background:#444;
    line-height:14px;
    font-size:14px;
    margin-bottom:6px;
    margin-right:6px;
    overflow:hidden;
    opacity:0.8;
    border-radius:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
li:hover {
  opacity:1;
}
img {
    background:#000 url('/static/img/loading.gif') center no-repeat;
  border-radius:5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
div.Twrapper{
  width:100%;
  overflow:hidden;
  position:absolute;
  top:0;
  left:0;
  height:50px;
}
div.Bwrapper {
  position:absolute;
  bottom:10px;
  top:40px;
  left:0;
  right:0;
}
div.BLwrapper{
  position:absolute;
  bottom:0;
  top:10px;
  left:0;
  right:70%;
}
div.BRwrapper{
  position:absolute;
  bottom:0;
  top:0;
  left:65%;
  right:0;
}
div.BRTwrapper {
  position:absolute;
  bottom:50%;
  top:0;
  left:65%;
  right:0;
}
div.BMwrapper{
  position:absolute;
  bottom:0;
  top:0;
  left:30%;
  right:35%;
}
div.BMTwrapper {
  position:absolute;
  bottom:50%;
  top:0;
  left:30%;
  right:35%;
}
div.BLwrapper,
div.BMwrapper,
div.BRwrapper {
  display:block;
  height:100%;
  overflow:hidden;
}


div.header{
  position:relative;
  height:30px;
  line-height:30px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #111;
}

div.header span.title{
  font-weight:700;
  letter-spacing:2px;
  display:block;
  text-indent:30px;
  margin-left:5px;
  color:#AAA;
  background: url('/static/img/loader.gif') left center no-repeat;
}

div.container{
  background:#222;
}
div.container:hover span.title{
  background: url('/static/img/pause.png') left center no-repeat;
}

div.play span.title{
  background: url('/static/img/play.png') left center no-repeat;
}

div.header span.count{
  position:absolute;
  right:4px;
  top:4px;
  bottom:4px;
  color:#777;
  background:#222;
  border-radius:5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  line-height:15px;
  padding:3px;
  font-size:17px;
  text-indent:3px;
}

div.BMTwrapper, 
div.BRTwrapper {
  z-index:1
}
div#pictures ul,
div#links ul,
div#blogs ul,
div#videos ul,
div#microblogs ul {
   position:absolute;
   bottom:0;
   top:30px;
   left:0;
   right:0;
}
div#videos {
  border-radius:5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  position:absolute;
  bottom:10px;
  top:20px;
  left:0;
  right:10px;
}
div#links {
  border-radius:5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  overflow:hidden;
  position:absolute;
  bottom:0;
  top:50%;
  left:0;
  right:10px;
}
div#links li {
  padding:10px;
  padding-right:60px;
  height:18px;
  position:relative;
}
div#links li a {
  display:block;
  white-space:nowrap;
  text-overflow:ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  /* The following hack only works for FF3. FF4 users: Blame Mozilla */
  -moz-binding: url('/static/css/ellipsis.xml#ellipsis');
  overflow:hidden;
  width:100%;
  display:block;
  font-size:11px;
}
div#links .mentions{
position:absolute;
display:block;
right:0px;
top:0px;
line-height:30px;
height:100%;
font-size:20px;
background:#111;
color:#FFF;
width:35px;
text-align:center;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
div#blogs {
  border-radius:5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  overflow:hidden;
  position:absolute;
  bottom:0;
  top:50%;
  left:0;
  right:10px;
}
div#pictures {
  border-radius:5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  overflow:hidden;
  position:absolute;
  bottom:10px;
  top:20px;
  left:0;
  right:10px;
}
div#pictures ul ul {
  overflow:visible;
  width:33%;
  text-align:center;
  margin-top:0px;
}
div#pictures ul ul.first {
  position:absolute;
  bottom:0;
  top:0;
  left:0;
  right:0;
  margin-left:-1px;
}
div#pictures ul ul.second {
  position:absolute;
  bottom:0;
  top:0px;
  left:30%;
  padding-left:1px;
}
div#pictures ul ul.third {
  position:absolute;
  bottom:0;
  top:0px;
  left:63%;
  right:0;
  padding-left:1px;
}
div#pictures li{
    height:80px;
    width:96%;
    margin:0 auto;
    margin-bottom:5px;
}
div#pictures ul li a{
  display:block;
  height:100%;
}
div#pictures ul li a span{
  overflow:hidden;
  display:none;
}

div#microblogs {
  border-radius:5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  overflow:hidden;
  position:absolute;
  bottom:10px;
  top:10px;
  left:10px;
  right:10px;
}
div#microblogs li p,
div#blogs li p{
  position:relative;
  padding:5px;
}
div#blogs li p.title a,
div#microblogs li p{
  position:absolute;
  left:76px;
  right:5px;
  color:#000;
  display:block;
  height:50px;
  overflow:hidden;
}
div#microblogs li p a {
  color:#888;
}
div#blogs li,
div#microblogs li{
  position:relative;
}
div#blogs .statusfooter,
div#microblogs .statusfooter{
  position:absolute;
  left:22px;
  bottom:2px;
  color:#111;
  font-style:italic;
}
div#blogs .statusfooter a,
div#microblogs .statusfooter a{
  color:#000;
  font-style:bold;
}

div#blogs li,
div#microblogs li{
    height:80px;
}
div#blogs img,
div#microblogs img{
    margin:5px;
    margin-left:22px;
    float:left;
    width:48px;
    height:48px;
}

div#blogs .servicetag,
div#microblogs .servicetag {
  display:block;
  background:#111;
  color:#AAA;
  height:100%;
  width:17px;
  text-align:center;
  position:absolute;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
div.container .servicetag a {
  display:block;
  text-align:center;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
}
div#microblogs .servicetag a{
  width:80px;
  left:-31px;
  top:32px;
}
div#blogs .servicetag a{
  width:100px;
  left:-41px;
  top:42px;
}
div#blogs li p.title a{
  right:73px;
  left:18px;
  height:14px;
  font-size:16px;

}
div#blogs ul li {
  height:100px;
}
div#blogs li .description{
  margin-top:8px;
  margin-left:15px;
  height:50px;
  overflow:hidden;
}
div#blogs img{
    float:right;
}
div#videos li{
  float:left;
  height:90px;
  width:95%;
  margin:0 auto;
  margin-bottom:7px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-size:auto 170px;
  -moz-background-size:auto 170px;
  -o-background-size:auto 170px;
  background-size:auto 170px;
}

div#videos ul li a,
div#pictures ul li a{
  display:block;
  width:100%;
  height:100%;
  position:relative;
}
div#videos ul li a span,
div#pictures ul li a span {
    display:none;
}
div#videos ul li a:hover span,
div#pictures ul li a:hover span {
  display:block;
  position:absolute;
  bottom:0;
  height:15px;
  overflow:hidden;
  background:#000;
  opacity:0.8;
  width:100%;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
div#videos ul li img{
  margin:0;
  padding:0;
  width:100%;
  margin-top:-16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
div#videos ul {
  margin-left:5px;
  text-align:center;
}
div#videos ul ul {
  overflow:visible;
  width:50%;
  text-align:center;
  margin-top:0px;
}
div#videos ul ul.first {
  position:absolute;
  bottom:0;
  top:0;
  left:0;
  right:0;
}
div#videos ul ul.second {
  position:absolute;
  bottom:0;
  top:0px;
  left:49%;
  padding-left:1px;
}
*::-webkit-scrollbar {
  margin:10px;
  width: 11px;
  height: 11px;
  background:#111;
  -webkit-border-radius:3px;
}
*::-webkit-scrollbar-thumb {
  -webkit-border-radius:3px;
  background: #333;
}
*::-webkit-scrollbar-corner {
  display: none;
}
*::-webkit-scrollbar-button:disabled {
  display:none;
}
*::-webkit-scrollbar:horizontal {
  display:none;
}
*::-webkit-scrollbar-thumb:horizontal {
  display:none;
}
