<!DOCTYPE HTML> 
<html> 
  <head> 
    <title>{{ site_name }}</title> 
    <link href='http://fonts.googleapis.com/css?family=Geo' rel='stylesheet' type='text/css'> 
    <link href="/static/css/default.css" rel="stylesheet" type="text/css">
    <link href="/static/img/favicon.ico" rel="icon" type="image/x-icon" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/CuteTime/js/jquery.cuteTime.min.js" type="text/javascript"></script>
    <script src="/static/js/hyve/hyve.js" type="text/javascript"></script>
    <script src="/static/js/tawlk.js" type="text/javascript"></script>
  </head> 
  <body> 
    <div class="Twrapper"> 
      <header> 
        <h1><a href="/">{{ site_name }} --></a></h1>
        <form id="search" action="/" method="POST">
            <input name="query" maxlength="25" type="text"/>
            {% csrf_token %}
        </form>
        <nav>
        {% for query_us,query in all_queries.items %}
            <a href="#{{ query_us }}">{{ query }}</a>
        {% endfor %}
        </nav>
      </header> 
    </div>
    <div class="Bwrapper"> 
    {% block content %}{% endblock %} 
    </div>
  </body> 
</html>
