{% extends "base.html" %}
{% block content %}
      <ul id="grid"> 
            <li><div></div></li> 
            <li><div></div></li> 
            <li><div></div></li> 
            <li><div></div></li> 
            <li><div></div></li> 
            <li><div></div></li> 
            <li><div></div></li> 
            <li><div></div></li> 
            <li><div></div></li> 
            <li><div></div></li> 
            <li><div></div></li> 
            <li><div></div></li> 
            <li><div></div></li> 
            <li><div></div></li> 
            <li><div></div></li> 
            <li><div></div></li> 
            <li><div></div></li> 
            <li><div></div></li> 
            <li><div></div></li> 
            <li><div></div></li> 
            <li><div></div></li> 
            <li><div></div></li> 
            <li><div></div></li> 
            <li><div></div></li> 
            <li><div></div></li> 
      </ul> 
{% endblock %} 
