{% extends "base.html" %}
{% block content %}
      <div class="BLwrapper"> 
        <div class="container" id="microblogs">
          <div class="header"><span class="title">Status Updates</span><span class="count">0</span></div> 
          <ul> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
          </ul> 
        </div> 
      </div> 
      <div class="BMTwrapper"> 
        <div class="container" id="pictures"> 
          <div class="header"><span class="title">Photos</span><span class="count">0</span></div> 
          <ul>
            <ul class="first">
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
            </ul>
            <ul class="second">
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
            </ul>
            <ul class="third"> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
            </ul>
          </ul> 
        </div> 
      </div> 
      <div class="BMwrapper"> 
        <div class="container" id="blogs"> 
          <div class="header"><span class="title">Blog Posts</span><span class="count">0</span></div> 
          <ul> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
          </ul> 
        </div> 
      </div> 
      <div class="BRTwrapper"> 
        <div class="container" id="videos"> 
          <div class="header"><span class="title">Videos</span><span class="count">0</span></div> 
          <ul> 
            <ul class="first">
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
          </ul> 
            <ul class="second">
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
          </ul> 
          </ul> 
        </div> 
      </div> 
      <div class="BRwrapper"> 
        <div class="container" id="links"> 
          <div class="header"><span class="title">Links</span><span class="count">0</span></div> 
          <ul>
          </ul> 
        </div> 
      </div> 
{% endblock %} 
