<!DOCTYPE HTML> 
<html> 
  <head> 
    <title>KRAL IT</title> 
    <link href='http://fonts.googleapis.com/css?family=Geo' rel='stylesheet' type='text/css'> 
    <link href="/static/css/default.css" rel="stylesheet" type="text/css">
    <link href="/static/img/favicon.ico" rel="icon" type="image/x-icon" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    <script>var query = "{{ query }}";</script>
    <script src="http://{{ orbited_server }}:{{ orbited_port }}/static/Orbited.js"></script>
    <script src="http://{{ orbited_server }}:{{ orbited_port }}/static/protocols/stomp/stomp.js"></script>
    <script src="static/js/kralit.js"></script>
  </head> 
  <body class={{ query }}> 
    <div class="Twrapper"> 
      <header> 
        <h1><a href="http:/kral.it/">KRAL IT --></a></h1>
        <form action="/" method="POST"><input name="query" type="text"/>{% csrf_token %}</form>
        <nav>
        {% for query in all_queries %}
            <a href="/{{ query }}">{{ query }}</a>
        {% endfor %}
        </nav>
      </header> 
    </div> 
    <div class="Bwrapper"> 
      <div class="BLwrapper"> 
        <div id="microblogs">
          <div class="title">Status Updates<span class="count">0</span></div> 
          <ul> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
          </ul> 
        </div> 
      </div> 
      <div class="BMTwrapper"> 
        <div id="pictures"> 
          <div class="title">Photos<span class="count">0</span></div> 
          <ul>
            <ul class="first">
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
            </ul>
            <ul class="second">
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
            </ul>
            <ul class="third"> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
              <li></li> 
            </ul>
          </ul> 
        </div> 
      </div> 
      <div class="BMwrapper"> 
        <div id="blogs"> 
        <div class="title">Blog Posts<span class="count">0</span></div> 
          <ul> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
          </ul> 
        </div> 
      </div> 
      <div class="BRTwrapper"> 
        <div id="videos"> 
          <div class="title">Videos<span class="count">0</span></div> 
          <ul> 
            <ul class="first">
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
          </ul> 
            <ul class="second">
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
          </ul> 
          </ul> 
        </div> 
      </div> 
      <div class="BRwrapper"> 
        <div id="www-top"> 
          <div class="title">Top Links<span class="count">0</span></div> 
          <ul> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
            <li></li> 
          </ul> 
        </div> 
      </div> 
    </div> 
  </body> 
</html> 
